.Order {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10 px auto;
    box-sizing: border-box; /* so the padding is included in the box size*/
}

.Order span {
    text-transform: capitalize;
    display: 'inline-block';
    margin: 0 8px;
    border: 1px solid #ccc;
    padding: 5px;
}